
body, html {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    background-image: url('./bus4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 700px;
}


.feedback.wrap {
    width: 400px;
    background: transparent;
    padding: 40px;
    border-radius: 17px;
    box-shadow: transparent;
    color: white;
    text-align: center;
    animation: bounce2 1.5s;
}

.feedback.wrap h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #fff;
}

.feedback input,
.feedback textarea {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    display: block;
    border: none;
    border-radius: 25px;
    background: #3c3c3c;
    color: white;
    font-size: 1em;
    outline: none;
    animation: bounce 1.2s;
}

.feedback input:focus,
.feedback textarea:focus {
    border: 2px solid #007bff;
    outline: none;
    background: #2d2d2d;
}

.feedback input[type="number"] {
    width: 50%;
}

.feedback .btn {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 90%;
    margin-top: 20px;
    animation: bounce1 1.3s;
}

.feedback .btn:hover {
    background: linear-gradient(144deg, #1e1e1e, #1e1e1e 50%);
    transition: all 0.4s ease;
    color: white;
}



.rating {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin: 10px 0;
  }
  
  .stars {
    display: flex; 
  }
  
  .star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star.filled {
    color: #ffd700; 
  }
  
  .star:hover {
    color: #ffdf00; 
  }
  

@media only screen and (max-width: 600px) {
    .feedback.wrap {
        width: 80%;
    }
}


@keyframes bounce {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }
}

@keyframes bounce1 {
    0% {
        opacity: 0;
    }
    20% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes bounce2 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0;
    }
}
